* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 600px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  font-weight: bold;
  letter-spacing: 0.05em;
}



h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 0.83;
  line-height: 1.875;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.125;
}

.container {
  padding: 20px 5% 20px 5%;
}

/* HEADER START  */

header {
  min-height: 800px;
  background: url(../img/header.jpg) no-repeat center / cover;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav>ul>li {
  display: inline;
  padding: 0 15px 0 15px;
}

.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 240px 0 0 0;
}

.header-main>h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.83;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px;
}
#start {
  display: inline;
  width: 280px;
  height: 72px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 12px 25px 12px;
  text-align: center;
  
}
.header-main > h5 {
  margin: 40px 0 240px 0;
}

/* HEADER END  */

/* MIN START */
.main-top {
  min-height: 435px;
  padding: 0 5% 0 5%;
  color: black;
  display: flex;
  justify-content: space-between;

}

.main-top-block {
  text-align: center;
  margin: 100px 25px 100px 25px;

}
.main-top-block > li {
  padding: 10px;
}

.main-app {
  min-height: 885px;
  background-color: gray;
}

.main-review {
  min-height: 465px;
}

.main-cuisines {
  min-height: 795px;
}
/* MAIN END  */

/* FOOTER START */
footer {
  background-color: #f7f7f7; 
  min-height: 95px;
  padding: 20px 5% 20px 5%;
  border-top: 1px solid #e2e2e2;

}
footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer>ul>li {
  display: inline;
  color: #8b8b8b;
  margin: 20px 0 20px 0;
}
h5>a {
  font-weight: 400;
  color: black;
}

/* FOOTER END  */