* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  min-width: 850px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  font-weight: bold;
  letter-spacing: 0.05em;
}



h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.875;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.12;
  letter-spacing: 0.05em;
}

h5 {
  font-size: 14px;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.125;
}

.container {
  padding: 20px 5% 20px 5%;
}

/* HEADER START  */

header {
  min-height: 800px;
  background: url(../img/header.jpg) no-repeat center / cover;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav>ul>li {
  display: inline;
  padding: 0 15px 0 15px;
}

.header-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 240px 0 0 0;
}

.header-main>h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.83;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px;
}
#start {
  display: inline;
  width: 280px;
  height: 72px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 12px 25px 12px;
  text-align: center;
  
}
.header-main > h5 {
  margin: 40px 0 240px 0;
}

/* HEADER END  */

/* MIN START */
.main-top {
  min-height: 435px;
  padding: 0 5% 0 5%;
  color: black;
  display: flex;
  justify-content: space-between;

}

.main-top-block {
  text-align: center;
  margin: 100px 25px 100px 25px;

}
.main-top-block > li {
  padding: 10px;
}

.main-app {
  min-height: 885px;
  background-color: gray;
}

.main-review {
  min-height: 465px;
  background: url(../img/review.png) no-repeat center / cover;
  overflow: hidden;
}
.main-review  h3 {
  font-style: italic;
  font-weight: 100;
  margin: 30px 0 30px 0;
}
.main-review  p {
  font-size: 30px;
  font-weight: 100;
  margin: 30px 0 30px 0;
}
.main-review ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 0 0;
}
.main-review ul img {
  margin-b: 
}
.main-cuisines {
  min-height: 795px;
}
.main-cuisines-top {
  height: 164px;
  border-top: 1px solid #d6d2d6;
  color: black;
  text-align: center;
}
.main-cuisines-top  > h3 {
  padding-top: 100px;
  line-height: 1.66;
}
.cuisines-img {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cuisines-img h4 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 15.37px;
  color: white;
}
.cu-img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 20%;
  height: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#cuisines-img-1 {
  background-image: url(/img/italian.png);
}
#cuisines-img-2 {
  background-image: url(/img/indian.png);
}
#cuisines-img-3 {
  background-image: url(/img/french.png);
}
#cuisines-img-4 {
  background-image: url(/img/stake.png);
}
#cuisines-img-5 {
  background-image: url(/img/sea.png);
}
#cuisines-img-6 {
  background-image: url(/img/sushi.png);
}
#cuisines-img-7 {
  background-image: url(/img/mexican.png);
}
#cuisines-img-8 {
  background-image: url(/img/chinese.png);
}
#cuisines-img-9 {
  background-image: url(/img/pizza.png);
}
#cuisines-img-10 {
  background-image: url(/img/american.png);
}

.main-cuisines-statistic {
  padding: 0 5% 0 5%;
  color:black;
}
.main-cuisines-statistic ul {
    display: flex;
    justify-content: space-around;
    padding: 40px 0 40px 0;
}





/* MAIN END  */

/* FOOTER START */
footer {
  background-color: #f7f7f7; 
  min-height: 95px;
  padding: 20px 5% 20px 5%;
  border-top: 1px solid #e2e2e2;

}
footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer>ul>li {
  display: inline;
  color: #8b8b8b;
  margin: 20px 0 20px 0;
}
h5>a {
  font-weight: 400;
  color: black;
}

/* FOOTER END  */